.pageGrid {
  display: flex;
  min-height: 100vh;
  padding: 9rem 1rem 0.25rem 6rem;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-right: 2rem;
}

.rightColumn {
  flex: 2;
}

.nameSection h1 {
  font-family: 'Anybody', sans-serif;
  font-size: 153px;
  font-weight: 800;
  font-style: italic;
  line-height: 79%;
  font-stretch: 62.5%;
  letter-spacing: -0.25rem;
  text-transform: uppercase;
}

.services {
  font-family: 'Anybody', sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 89%;
  font-stretch: 80%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.location p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Anybody', sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 79%;
  font-stretch: 80%;
  letter-spacing: -3px;
  color: var(--color-text-light)
}

.overlayContent {
  position: absolute;
  width: 720px;
  height: 390px;
  top: 459px;
  left: 62rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.fvtxLogo {
  width: 100%; 
  height: auto;
  filter: brightness(0) saturate(100%) invert(1) brightness(0.9);
}

.tagline {
  color: var(--color-text-light);
  opacity: 0.9;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  font-family: 'Anybody', sans-serif;
  font-stretch: 62.5%;
  font-weight: 600;
  font-size: 48px;
  line-height: 79%;
  letter-spacing: 0;
  font-style: normal;
  margin-top: 1rem;
  text-align: end;
}

.italicSpan {
  font-style: italic;
}

/* --- Bloco de Responsividade --- */
@media (max-width: 900px) {
  .pageGrid {
    flex-direction: column;
    padding: 6rem 1.5rem 1.5rem 1.5rem;
    gap: 3rem;
  }
  
  .leftColumn {
    gap: 3rem;
  }
  
  .nameSection h1 {
    font-size: 80px;
  }

  .rightColumn {
    min-height: 50vh;
  }
}